/* dotgothic16-regular - latin */
@font-face {
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/dotgothic16-v15-latin-regular.woff2") format("woff2"), url("../assets/fonts/dotgothic16-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* Gilroy Regular */
@font-face {
  font-family: 'Gilroy Regular';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../assets/fonts/Gilroy-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* Gilroy Medium */
@font-face {
  font-family: 'Gilroy Medium';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../assets/fonts/Gilroy-Medium.woff2") format("woff2"), url("../assets/fonts/Gilroy-Medium.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
/* Gilroy Semibold */
@font-face {
  font-family: 'Gilroy Semibold';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../assets/fonts/Gilroy-Semibold.woff2") format("woff2"), url("../assets/fonts/Gilroy-Semibold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }
.booking {
  width: 286px;
  height: 59px;
  font-family: 'Gilroy Medium', sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  border: none;
  background: #00d8a4;
  border-radius: 20px 5px;
  transition: all 0.6s;
  cursor: pointer; }
  .booking-transform-left {
    transform: translateX(-55px); }
  .booking:hover {
    background: #00ffa3; }

.nav__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative; }

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0; }

.burger__line_first {
  top: 0; }

.burger__line_second {
  top: 50%;
  transform: translateY(-50%); }

.burger__line_third {
  bottom: 0; }

@media (max-width: 1450px) {
  .nav__burger {
    display: block; }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: all .4s  linear; }
    .header__nav-active {
      transform: translateX(0); }
    .header__nav-close-line {
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 50%; }
      .header__nav-close-line:first-child {
        transform: translateY(-50%) rotate(45deg); }
      .header__nav-close-line:last-child {
        transform: translateY(-50%) rotate(-45deg); } }
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-family: 'Gilroy Regular', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  background: #000000; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #ffffff !important; }

img {
  max-width: 100%;
  height: auto; }

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  background: url("../assets/img/bg-main.png") no-repeat;
  height: 4081px; }

.header {
  padding: 0 115px 0 120px; }

.nav {
  display: block; }

.nav-desktop__item {
  margin-left: 48px; }
.nav-desktop__link {
  font-family: 'Gilroy Medium', sans-serif;
  font-style: normal;
  font-size: 18px; }
  .nav-desktop__link-active {
    color: #00ffa3 !important; }

.promo {
  position: relative; }
  .promo__inner {
    margin-top: 535px; }
  .promo .title {
    font-family: 'DotGothic16', sans-serif;
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 0.14em; }
  .promo .description {
    margin: 25px auto;
    max-width: 634px; }

.carts {
  font-family: 'DotGothic16', sans-serif;
  font-style: normal;
  font-size: 58px; }

@media (max-width: 1720px) {
  .header {
    padding: 0 10px 0 10px; } }
@media (max-width: 1450px) {
  .nav-desktop {
    flex-direction: column; }

  .nav-desktop__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px; }
    .nav-desktop__item:last-child {
      margin-bottom: 0; }

  .nav-desktop__link {
    font-size: 42px;
    line-height: 48px; }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11; } }
.carts-car {
  min-height: 840px; }

.image-slider {
  margin-top: 320px; }

.slider__info {
  margin-top: 20px; }

.slide__title {
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-size: 36px; }

.slide__subtitle {
  font-family: 'Gilroy Semibold', sans-serif;
  font-weight: 600;
  font-size: 24px; }

.slide__descr {
  font-size: 17px; }

.image-slider__image {
  text-align: center; }

@media (max-width: 1596px) {
  .slide__title {
    font-size: 26px; }

  .slide__subtitle {
    font-size: 18px; }

  .slide__descr {
    font-size: 13px; } }
.booking-block {
  max-height: 412px; }
  .booking-block-inner {
    margin-left: 130px; }

.statistics__item {
  width: 265px; }

.distant,
.time {
  color: #00ffa3;
  font-size: 40px; }

.booking-block-promo {
  max-width: 520px; }

.statistics {
  margin-right: 210px; }

.statistics__item .info {
  font-size: 17px; }

.features {
  gap: 70px;
  margin-top: 420px; }

.features__item {
  width: 513px;
  border: 1px solid #00ffa3;
  border-radius: 10px;
  padding: 20px; }

.feature__title {
  font-family: 'Gilroy Semibold', sans-serif;
  font-weight: 600;
  font-size: 24px; }

.feature__descr {
  opacity: .5;
  font-family: 'Gilroy Regular', sans-serif;
  font-weight: 400;
  font-size: 14px; }

@media (max-width: 1720px) {
  .features {
    gap: 20px; } }
.contact-block {
  width: 600px;
  min-height: 200px;
  padding-top: 100px; }
  .contact-block .address-title {
    font-size: 18px;
    color: #00ffa3; }

.map-block {
  margin: 130px 100px 0 100px; }

.address,
.phone,
.email,
.time-contact {
  font-size: 18px;
  margin-bottom: 20px; }

@media (max-width: 1720px) {
  .map-block {
    margin: 170px 10px 0 10px; } }
@media (max-width: 1595px) {
  .contact-block {
    padding-top: 0; }

  .map-block {
    margin-top: 100px; }

  .map {
    width: 600px; } }
.footer {
  margin: 45px 110px 0 110px;
  padding-top: 75px;
  min-height: 412px; }
  .footer__descr {
    margin-top: 12px;
    max-width: 435px; }
  .footer__copy {
    margin-top: 20px; }

.copy {
  color: #00ffa3; }

.social-icons__item {
  margin-left: 30px; }

@media (max-width: 1720px) {
  .footer {
    margin: 45px 10px 0 10px; } }
@media (max-width: 1595px) {
  .footer {
    padding-top: 90px; } }
@media (max-width: 1450px) {
  .footer__nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
