@import "common/fonts";
@import "common/varialbles";
@import "button/button";
@import "common/burger";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Gilroy Regular', sans-serif;
  font-style: normal;
  font-size: 16px;
  color: $MainTextTheme;
  background: $MainBackgroundTheme;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $MainTextTheme !important;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  background: url("../assets/img/bg-main.png") no-repeat;
  height: 4081px;
}

@import "hero/hero";
@import "sections/carts";
@import "sections/booking-block";
@import "sections/features";
@import "sections/map-block";
@import "footer/footer";
