@import "common/fonts";
@import "common/varialbles";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Gilroy Regular', sans-serif;
  font-style: normal;
  font-size: 16px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  width: 1920px;
  height: 100vh;
  margin: 0 auto;
  background: green;
}
