
.booking-block {
  max-height: 412px;
  &-inner {
    margin-left: 130px;
  }
}

.statistics__item {
  width: 265px;
}

.distant,
.time {
  color: $TextTheme;
  font-size: 40px;
}

.booking-block-promo {
  max-width: 520px;
}

.statistics {
  margin-right: 210px;
}

.statistics__item {
  .info {
    font-size: 17px;
  }
}

@media (max-width: 1240px) {
  .statistics__item {
    width: 220px;
  }
  .statistics {
    margin-right: 110px;
  }
}

@media (max-width: 1040px) {
  .booking-block-inner {
    margin-left: 50px;
  }
  .statistics {
    margin-right: 0;
  }
}

@media (max-width: 810px) {
  .booking-block-inner {
    margin-left: 5px;
    padding-top: 15px;
  }
  .info-block {
    flex-direction: column;
  }
  .distant,
  .time {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .booking-block p {
    margin: 0;
    font-size: 15px;
  }
  .statistics {
    flex-direction: column;
  }
}
