.carts-car {
  min-height: 917px;
  background: url("../assets/img/bg-slider.png") no-repeat;
}

.image-slider {
  margin-top: 50px;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {

}

.slider__info {
  max-width: 629px;
}
