.carts-car {
  min-height: 840px;
}

.image-slider {
  margin-top: 320px;
}

.slider__info {
  margin-top: 20px;
}

.slide__title {
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-size: 36px;
}

.slide__subtitle {
  font-family: 'Gilroy Semibold', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.slide__descr {
  font-size: 17px;
}

.image-slider__image {
  text-align: center;
}

@media (max-width: 1596px) {
  .slide__title {
    font-size: 26px;
  }
  .slide__subtitle {
    font-size: 18px;
  }

  .slide__descr {
    font-size: 13px;
  }
}

@media (max-width: 1299px) {
  .image-slider__image {
    margin: 0 auto;
    max-width: 388px;
  }
}

@media (max-width: 810px) {
  .image-slider {
    margin-top: 330px;
    img {
      width: 90%;
    }
  }
  .slider__info {
    max-width: 320px;
    margin: 0 auto;
  }
}
