.features {
  gap: 70px;
  margin-top: 420px;
}

.features__item {
  width: 513px;
  border: 1px solid #00ffa3;
  border-radius: 10px;
  padding: 20px;
}

.feature__title {
  font-family: 'Gilroy Semibold', sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.feature__descr {
  opacity: .5;
  font-family: 'Gilroy Regular', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 1720px) {
  .features {
    gap: 20px;
  }
}

@media (max-width: 1240px) {
  .features__item {
    width: 413px;
    padding: 5px;
  }
  .feature__descr {
    margin-bottom: 0;
  }
}

@media (max-width: 1040px) {
  .features {
    gap: 5px;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
}
