.contact-block {
  width: 600px;
  min-height: 200px;
  padding-top: 100px;
  .address-title {
    font-size: 18px;
    color: $TextTheme;
  }
}

.map-block {
  margin: 130px 100px 0 100px;
}

.address,
.phone,
.email,
.time-contact {
  font-size: 18px;
  margin-bottom: 20px;
}

@media (max-width: 1720px) {
  .map-block {
    margin: 170px 10px 0 10px;
  }
}

@media (max-width: 1595px) {
  .contact-block {
    padding-top: 0;
  }

  .map-block {
    margin-top: 100px;
  }

  .map {
    width: 600px;
  }
}
