.header {
  padding: 0 115px 0 120px;
}

.nav {
  display: block;
}

.nav-desktop {
  &__item {
    margin-left: 48px;
  }
  &__link {
    font-family: 'Gilroy Medium', sans-serif;
    font-style: normal;
    font-size: 18px;
    &-active {
      color: $TextTheme !important;
    }
  }
}

.promo {
  position: relative;
  &__inner {
    margin-top: 535px;
  }
  .title {
    font-family: 'DotGothic16', sans-serif;
    font-style: normal;
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 0.14em;
  }

  .description {
    margin: 25px auto;
    max-width: 634px;
  }
}

.carts {
  font-family: 'DotGothic16', sans-serif;
  font-style: normal;
  font-size: 58px;
}

@media (max-width: 1720px) {
  .header {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 1450px) {
  .nav-desktop {
    flex-direction: column;
  }

  .nav-desktop__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .nav-desktop__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
}

@media (max-width: 1240px) {
  .promo {
    .title {
      font-size: 38px;
    }
  }
}

@media (max-width: 810px) {
  .header {
    padding-top: 15px;
  }
  .logo {
    width: 150px;
  }

  .promo {
    .title {
      font-size: 28px;
    }
    .description {
      font-size: 14px;
    }
  }
}
