.booking {
  width: 286px;
  height: 59px;
  font-family: 'Gilroy Medium', sans-serif;
  font-style: normal;
  font-size: 22px;
  color: $MainTextTheme;
  border: none;
  background: $BtnTheme;
  border-radius: 20px 5px;
  transition: all 0.6s;
  cursor: pointer;
  &-transform-left {
    transform: translateX(-55px);
  }

  &:hover {
    background: $TextTheme;
  }
}

@media (max-width: 1040px) {
  .booking-transform-left {
    transform: translateX(0);
  }
}

