.booking {
  width: 286px;
  height: 59px;
  font-family: 'Gilroy Medium', sans-serif;
  font-style: normal;
  font-size: 22px;
  color: #ffffff;
  border: none;
  background: #00d8a4;
  border-radius: 20px 5px;
  &-transform-left {
    transform: translateX(-55px);
  }
}
